{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}
            {{form.password() }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{form.password2() }}
            {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit }}
        </p>
    <form>

{% endblock %}