{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <Img src="{{ user.avatar(2) }}" alt="{{user.username}} avatar image" style="width: 8em;"/>
            </td>
            <td>
                <h2>User: {{ user.username }}</h2>
                {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen at: {{user.last_seen}}</p>{% endif %}

                <p>{{ user.followers_count() }} followers, {{user.following_count() }} following</p>
                {% if current_user == user %}
                    <a href="{{ url_for('edit_profile_view') }}">Edit Profile</a>
                    <a href="{{ url_for('delete_account_view') }}">Delete account</a>
                {% elif current_user.is_following(user) %}
                    <form action="{{url_for('unfollow', username=user.username)}}" method='POST'>
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                {% else %}
                    <form action="{{url_for('follow', username=user.username)}}" method='POST'>
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                {% endif %}
            </td>
        </tr>
    </table>
    

    <hr>
    <table>
        {% for post in posts %}
            {% include "post.html" %}
        {% endfor %}
    </table>
{% endblock content %}